@import "tailwindcss";

@theme {
	--color-base: #fdfdfd;
	--color-content: #0d1c3a;
	--color-p: #7af066;
	--color-p-100: #defbeb;
	--color-s: #3a637a;
	--color-s-100: #d6f4fa;
}

@layer base {
	button,
	.btn {
		@apply inline-block rounded-xl bg-p p-2 text-content no-underline shadow transition;
		@apply hover:brightness-90;
		@apply disabled:cursor-not-allowed disabled:bg-slate-400;
		@apply active:scale-[97%];
	}
	input,
	select {
		@apply rounded-xl border border-slate-200 bg-slate-50 px-3 py-2 invalid:outline invalid:-outline-offset-2 invalid:outline-rose-700;
	}
	section {
		@apply mt-8 rounded-xl border border-s/50 p-4 shadow;
	}
	h2 {
		@apply mb-2 rounded-xl py-1 text-lg font-semibold;
	}
	table {
		@apply w-full;
	}
	thead th {
		@apply border-b-2 border-b-s/25;
	}
	th {
		@apply text-left;
	}
	td,
	th {
		@apply py-2 pr-5 text-sm last:pr-0;
	}
	tr {
		@apply border-b border-b-s/25 last:border-b-2;
	}
	a {
		@apply font-semibold underline decoration-2 hover:decoration-dotted;
	}
	p,
	ul {
		@apply mb-4 last:mb-0;
	}
	li {
		@apply ml-6 list-disc;
	}
}

@layer components {
	.btn-o {
		@apply border-2 border-s bg-transparent text-s;
	}
	.btn-s {
		@apply bg-s text-base;
	}
}
