@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.125rem;
	--background: color-mix(
		in oklch,
		var(--color-white) 85%,
		var(--color-slate-50) 15%
	);
	--foreground: var(--color-slate-900);
	--card: var(--color-white);
	--card-foreground: var(--color-slate-900);
	--popover: var(--color-white);
	--popover-foreground: var(--color-slate-900);
	--primary: var(--color-lime-400);
	--primary-foreground: var(--color-slate-950);
	--secondary: var(--color-slate-600);
	--secondary-foreground: var(--color-slate-50);
	--muted: var(--color-slate-100);
	--muted-foreground: var(--color-slate-600);
	--accent: var(--color-sky-100);
	--accent-foreground: var(--color-slate-900);
	--destructive: var(--color-red-700);
	--border: var(--color-slate-200);
	--input: var(--color-slate-200);
	--ring: var(--color-slate-500);
	--chart-1: var(--color-lime-400);
	--chart-2: var(--color-slate-600);
	--chart-3: var(--color-sky-300);
	--chart-4: var(--color-emerald-200);
	--chart-5: var(--color-slate-900);
	--sidebar: var(--color-white);
	--sidebar-foreground: var(--color-slate-900);
	--sidebar-primary: var(--color-lime-400);
	--sidebar-primary-foreground: var(--color-slate-950);
	--sidebar-accent: var(--color-sky-100);
	--sidebar-accent-foreground: var(--color-slate-900);
	--sidebar-border: var(--color-slate-200);
	--sidebar-ring: var(--color-slate-500);
}

.dark {
	--background: color-mix(
		in oklch,
		var(--color-slate-950) 80%,
		var(--color-slate-900) 20%
	);
	--foreground: var(--color-slate-100);
	--card: var(--color-slate-900);
	--card-foreground: var(--color-slate-100);
	--popover: var(--color-slate-900);
	--popover-foreground: var(--color-slate-100);
	--primary: var(--color-lime-400);
	--primary-foreground: var(--color-slate-950);
	--secondary: var(--color-slate-700);
	--secondary-foreground: var(--color-slate-100);
	--muted: var(--color-slate-800);
	--muted-foreground: var(--color-slate-300);
	--accent: var(--color-slate-700);
	--accent-foreground: var(--color-slate-100);
	--destructive: var(--color-red-500);
	--border: var(--color-slate-700);
	--input: var(--color-slate-700);
	--ring: var(--color-lime-400);
	--chart-1: var(--color-lime-400);
	--chart-2: var(--color-sky-400);
	--chart-3: var(--color-sky-200);
	--chart-4: var(--color-emerald-300);
	--chart-5: var(--color-slate-100);
	--sidebar: var(--color-slate-900);
	--sidebar-foreground: var(--color-slate-100);
	--sidebar-primary: var(--color-lime-400);
	--sidebar-primary-foreground: var(--color-slate-950);
	--sidebar-accent: var(--color-slate-700);
	--sidebar-accent-foreground: var(--color-slate-100);
	--sidebar-border: var(--color-slate-700);
	--sidebar-ring: var(--color-lime-400);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground tabular-nums antialiased;
		min-inline-size: 18rem;
		overflow-x: auto;
	}

	a {
		@apply font-medium underline decoration-2 underline-offset-2 hover:decoration-dotted;
	}

	a[data-sidebar="menu-button"] {
		@apply no-underline;
	}

	section {
		@apply mt-4 min-w-0 rounded-lg border bg-card p-3 shadow-xs;
	}

	h2 {
		@apply mb-1 text-lg font-semibold;
	}

	section p,
	section ul {
		@apply mb-3 text-sm leading-6 last:mb-0;
	}
}
